* {
	font-family: Verdana;}
body {
	background-color: #f9ccdb;}
li {
	display: inline;
	margin: 0px 3px;}
#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #ffffff;}
#main {
	padding: 0 0 5px 4px ;
	margin: 0 auto 0 auto;
	margin-left: -4px;}
ul {
	width: 900px;
	padding: 20px;
	margin: 0px auto 0px auto;
	border: 3px solid #000;
	font-size: 1.5em;}
a {
	text-decoration: none;
	margin-left: 120px;
	text-transform: uppercase;
	color: #000000;}
	
a:hover {
	color: #fff;}
.main {
	background-color: #dd291e;
	padding: 20px;}
.about {
	background-color: #dd291e;
	padding: 20px;}
.contact {
	background-color: #dd291e;
	padding: 20px;}
#text {
	text-align: center;
	width: 900px
	border: 1px solid #000;}
#box {
	width: 300px;
	height: 170px;
	border: 2px solid #000;
	margin-top: 15px;
}

#right {
	text-align: right;
	padding-right: 4px;
	padding-top: 10px;
	margin: 10px 0 0 0;
}